<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videodesk.eshopdemoapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_eshop"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VdActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Checkout"
            android:label="@string/app_name"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.HOME" />
             </intent-filter>-->
        </activity>
        <activity
            android:name=".Category"
            android:label="@string/app_name" >
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity
            android:name=".Product"
            android:label="@string/app_name" >
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>
        <activity android:name=".Cart"
            android:label="@string/app_name">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
            </activity>
    </application>

</manifest>
